@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

.theme-default {
  /* BACKGROUND */
  --bg-color-0: #171717;
  --bg-color-0-inset: #1c1c1c;
  --bg-color-1: #020202;
  --bg-color-1-inset: #252424;
  --bg-color-2: #0a0a0a;

  /* TEXT COLOR */
  --text-color-0: #858585;
  --text-color-1: #DB2A94;
  --text-color-2: #DB682A;
  --text-color-3: #DB492A;
  --text-color-4: #DB872A;
  --text-color-5: #DB8573;
  --text-color-6: #eeeeee;

  --text-color-0-muted: #535353;

  /* TEXT FONT */
  --text-font-0: "Montserrat", sans-serif;
  --text-font-1: "Oswald", serif;
  --text-font-2: "Arsenal SC", serif;
  --text-font-3: "Doto", sans-serif;
  --text-font-4: "Josefin Sans", sans-serif;

  /* SCROLLBAR */
  --bg-color-0-scroll-bar: #4d4d4d;
  --bg-color-0-scroll-bar-hover: #4d4d4d;
  --bg-color-0-scroll-bar-track: rgba(47, 47, 51, 0.7);

  --scroll-bar-width: 8px;
}


/* WIREFRAME CLASS */
.wireframe * {
  outline: 1px solid red !important;
} 

/* DEFAULT INPUT */
input {
  all: unset;
  color: var(--text-color-0);
}

input::placeholder {
  color: var(--text-color-0-muted);
}

/* DEFAULT SCROLLBAR */
::-webkit-scrollbar {
  width: var(--scroll-bar-width);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px var(--bg-color-0-scroll-bar-track); 
  /* background-color: var(--bg-color-scroll-bar-track);  */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  /* background: #5f677e;  */
  background: var(--bg-color-0-scroll-bar);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bg-color-0-scroll-bar); 
}

body {
  background: var(--bg-color-0);
}

